@{
    ViewData["Title"] = "添加";
    Layout = "~/Views/Shared/_OperationLayout.cshtml";
    ViewBag.Url = "/Api/AddRedisDBSettingInfo";
}
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 5px;">
    <legend>Redis地址定义</legend>
</fieldset>
<div class="layui-form-item">
    <label class="layui-form-label required">编号:</label>
    <div class="layui-input-block">
        <input type="text" name="Code" lay-verify="required" lay-reqtext="编号不能为空" placeholder="请输入账套编号" value="@ViewBag.Code" class="layui-input">
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label required">名称:</label>
    <div class="layui-input-block">
        <input type="text" name="Name" lay-verify="required" lay-reqtext="名称不能为空" placeholder="请输入账套名称" value="" class="layui-input">
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label required">服务器:</label>
    <div class="layui-input-block">
        <input type="text" name="ServerIp" lay-verify="required" lay-reqtext="服务器不能为空" placeholder="请输入服务器名称" value="" class="layui-input">
        <tip style="color:red">单机格式为：IP:Port,针对集群模式格式： IP:Port,IP:Port,IP:Port </tip>
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label required">密码:</label>
    <div class="layui-input-block">
        <input type="password" name="Password" lay-verify="pass" placeholder="请输入密码" autocomplete="off" class="layui-input">
    </div>
</div>
@section Css{
}

@section Scripts{
}

@section Form{
}